{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/app/css/activity.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('assets/external/libs/autogrow-textarea/jquery.autogrowtextarea.min.js') }}"></script>
    <script src="{{ asset('assets/app/js/activity.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="container">
        <div class="col-md-4 activity-form">
            <div class="row">
                <div class="col-md-12 activity activity-form-body">
                    {{ form_start(form_add_activity) }}
                    <div class="row">
                        <div class="col-md-12">
                            <!--<textarea class="form-control" placeholder="Publiez quelque chose !"
                                      id="textareaAddActu" name="activity_message"></textarea>-->
                            {{ form_widget(form_add_activity.message) }}
                            <span class="btnAddPicture pull-right">
                                    <i id="btnAddPictures" class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                                    <input id="btnSubmitNewActu" type="submit" class="btn btn-info btn-sm" value="Publier">
                                </span>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-12"><div id="listImageAddActu" class="is_hidden"></div></div></div>
                    <span class="is_hidden" id="blockFormNewActu">
                            {{ form_widget(form_add_activity.images) }}
                        <!--<input type="file" accept="image/*" id="inputImage" name="activity_images" multiple>-->
                        </span>
                    {{ form_end(form_add_activity) }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for activity in list_activity %}
                <div class="row">
                    <div class="col-md-6 activity">
                        <div class="row activity-top">
                            <div class="col-xs-12">
                                <b>{{ activity.user.username }}</b>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Action</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 activity-date">
                                <em class="text-muted">{{ activity.dateActivity|date('d/m/Y') }}</em>
                            </div>
                        </div>

                        <div class="row activity-middle">
                            <div class="col-xs-12">
                                <p>{{ activity.message }}</p>
                            </div>
                        </div>

                        <div class="row activity-bottom">
                            <div class="col-xs-12">
                                0 J'aime
                                <span class="pull-right">
                                0 Commentaire
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}